/* universal styles  */
body {
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  text-align: center;
  opacity: 0.9;
}
h2{
  font-size: 24px;
}
a {
  color: seashell;
}

/* header  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 98%;
  height: 69px;
  z-index: 1;
  background-color: black;
  border-bottom: 1px solid seashell;
  padding: 5px 10px;
}
header a {
  text-decoration: underline;
  margin-right: 15px;
}
header nav {
  text-decoration: underline;
}
header a:hover {
  text-decoration: none;
}
.logo img {
  height: 50px;
  width: auto;
}

/* main content */
.main {
  margin: 0 auto;
  padding-top: 75px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/* mission row */
#mission-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
}
.mission-headlines {
  background-color: black;
  width: 1000px;
}

/* featured row */
.featured-img-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 10px;
}
.single-img {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
}
.single-img img {
  width: 300px;
  height: 200px;
  padding-bottom: 10px;
}




/* will be deleted later */
div, header, nav, footer {
  border: 1px solid red;
}
